    <!-- Sub Nav End -->
        <div class="sub-nav <!---hidden-sm hidden-xs--->">

          	<div class="col-xs-12 col-sm-4">
		
<ol class="nya-bs-select" ng-model="myModel" style="width:100%" data-live-search="true" multiple data-size="10">
    <li data-value="7973770" class="nya-bs-option">
        <a>
           <span class='hq'><i class='fa fa-cubes'></i> HQ name</span> <small class='muted text-muted'>7973770</small>
           <span class="glyphicon glyphicon-ok check-mark"></span>
        </a>
    </li>
    <li data-value="9021303" class="nya-bs-option">
        <a>
           <span style='padding-left:15px;'><i class='fa fa-building'></i> Corporation name</span> <small class='muted text-muted'>9021303</small>
           <span class="glyphicon glyphicon-ok check-mark"></span>
        </a>
    </li>
    <li data-value="77488788772" class="nya-bs-option">
        <a>
           <span style='padding-left:30px;'><i class='fa fa-flag'></i> Merchant name 2</span> <small class='muted text-muted'>77488788772</small>
           <span class="glyphicon glyphicon-ok check-mark"></span>
        </a>
    </li>
    <li data-value="77488788773" class="nya-bs-option">
        <a>
           <span style='padding-left:30px;'><i class='fa fa-flag'></i> Merchant name 3</span> <small class='muted text-muted'>77488788773</small>
           <span class="glyphicon glyphicon-ok check-mark"></span>
        </a>
    </li>
    <li data-value="77488788774" class="nya-bs-option">
        <a>
           <span style='padding-left:30px;'><i class='fa fa-flag'></i> Merchant name 4</span> <small class='muted text-muted'>77488788774</small>
           <span class="glyphicon glyphicon-ok check-mark"></span>
        </a>
    </li>
    <li data-value="77488788775" class="nya-bs-option">
        <a>
          <span style='padding-left:30px;'><i class='fa fa-flag'></i> Merchant name 5</span> <small class='muted text-muted'>77488788775</small>
          <span class="glyphicon glyphicon-ok check-mark"></span>
        </a>
    </li>
    <li data-value="77488788776" class="nya-bs-option">
        <a>
        	<span style='padding-left:30px;'><i class='fa fa-flag'></i> Merchant name 6</span> <small class='muted text-muted'>77488788776</small>
        	<span class="glyphicon glyphicon-ok check-mark"></span>
        </a>
    </li>
</ol>


          	</div>
       
          
          	<div class="col-xs-12 col-sm-3">
          	
          			<div class="form-group">
          			  <input date-range-picker class="form-control date-picker" type="text"
                           name="date" ng-model="date" placeholder="Data Range" style="margin-top:10px">
					</div>
              
          	</div>
          	
        
        </div>
        <!-- Sub Nav End -->
        
        
<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper-lg">
	<div class="view-container">



        
        <!-- Row starts -->
          <div class="row" ng-controller="status_boxes">
          
          
            <div class="col-lg-3 col-md-3 col-sm-6" ng-repeat="item in data">
              <div class="mini-widget {{item.widgetClass}}">
                <div class="mini-widget-heading clearfix">
                  <div class="pull-left">{{item.title}}</div>
                  <div class="pull-right">{{item.subText}}</div>
                </div>
                <div class="mini-widget-body clearfix">
                  <div class="pull-left">
                    <i class="fa {{item.icon}}"></i>
                  </div>
                  <div class="pull-right number">{{item.largeText}}</div>
                </div>
                <div class="mini-widget-footer center-align-text">
                  <span>{{item.linkText}}</span>
                </div>
              </div>
            </div>
           
           
           
          </div>
          <!-- Row ends -->

       
            
              
                <div class="row" ng-controller="ad_space">
					<div class="col-xs-8">

						<div class="widget">
							<div class="widget-body">
							  <!-- Row starts -->
							  <div class="row">
								<img ng-src="{{ad_img}}" class="img-responsive">
								</div>
							  <!-- Row ends -->
							</div>
						</div> <!-- widget ends -->
				
					
					
						 <div class="row">
  
							<!--- VOLUME SUMMARY ---> 
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							  <div class="widget">
								<div class="widget-header">
								  <div class="title">
										Volume Summary
									<span class="mini-title">
			  
									</span>
								  </div>
								  <!---<span class="tools">
									<a class="btn btn-success btn-xs" href="##">
									  <i class="fa fa-cog"></i>
									</a>
								  </span>--->
								</div>
								<div class="widget-body" ng-controller="merchantVolumeSummary">
										<fusioncharts
											width="100%" 
											height="200"
											type="column2d"
											dataSource="{{datasource}}">
										</fusioncharts>
								</div>
							  </div>
							</div>
							<!--- END: VOLUME SUMMARY ---> 
	
	
							<!--- VOLUME TREND BY TYPE ---> 
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							  <div class="widget">
								<div class="widget-header">
								  <div class="title">
									Volume by Card Type
			 
								  </div>
								  <!---<span class="tools">
									<a class="btn btn-success btn-xs" href="##">
									  <i class="fa fa-cog"></i>
									</a>
								  </span>--->
								</div>
								<div class="widget-body" ng-controller="merchantVolumeByType">
										<fusioncharts
											width="100%" 
											height="200"
											type="mscombi2d"
											chartid="john2"
											dataSource="{{datasource}}">
										</fusioncharts>
				   
								</div>
							  </div>
							</div>
						   <!--- END: VOLUME TREND BY TYPE ---> 
   
						   <!--- VOLUME DETAILS ---> 
	
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							  <div class="widget">
								<div class="widget-header">
								  <div class="title">
									Volume Details (YTD)
			 
								  </div>
								  <!---<span class="tools">
									<a class="btn btn-success btn-xs" href="##">
									  <i class="fa fa-cog"></i>
									</a>
								  </span>--->
								</div>
								<div class="widget-body">
		  
		  
								   <div class="widget-stats-text">Sales: $1,405,212.18</div>
								   <div class="widget-stats-text">Transactions:  85,017</div>
								   <div class="widget-stats-text">Average Ticket: $16.53</div>
								   <div class="widget-stats-text">Returns: $7,938.72</div>
								   <div class="widget-stats-text">Net: <b>$1,397,273.46</b></div>
		  
								</div>
							  </div>
							</div>
	
							 <!--- END: VOLUME DETAILS --->
	
						</div>  <!-- end .row -->
			
								<!-- Row Start -->
							<div class="row">
							  <div class="col-lg-8 col-md-8">
								<div class="widget">
								  <div class="widget-header">
									<div class="title">
									  Deposit History
									</div>
									<!---<span class="tools">
									<a class="btn btn-success btn-xs" href="##">
									  <i class="fa fa-cog"></i>
									</a>
								  </span>--->
								  </div>
								  <div class="widget-body" ng-controller="merchantDepositHistory">
										<fusioncharts
											width="100%" 
											height="200"
											type="msline"
											chart="{{attrs}}"
											categories="{{categories}}"
											dataset="{{dataset}}">
										</fusioncharts>
								  </div>
								</div>
							  </div>
			  
			  
							<!--- VOLUME TREND BY TYPE ---> 
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							  <div class="widget">
								<div class="widget-header">
								  <div class="title">
									Volume by Card Type
								  </div>
								</div>
								<div class="widget-body" ng-controller="merchantPieVolume">
										<fusioncharts
											width="300" 
											height="200"
											type="pie3d"
											dataSource="{{datasource}}">
										</fusioncharts>
								</div>
							  </div>
							</div>
						   <!--- END: VOLUME TREND BY TYPE ---> 
					</div>
					<!-- Row End -->
			
            </div>
			<div class="col-xs-4">
						 
						 
						    
			 <!--- ANNOUNCEMENTS --->
            
        		 <div class="widget">
					<div class="widget-header">
					  <div class="title">
						Announcements
					  </div>
					</div>
					<div class="widget-body">
					  <ul class="announcements">
						<li class="announcement-list warning">
						  <div class="detail-info">
							<a href="" class="header">
							  <i class="fa fa-microphone"></i> May 2015 Statement Now Posted to the Business Center
							</a>
							<p class="message">
							 Your May 2015 Statement is now available  under the Statements tab. We appreciate your business!
							</p>
						  </div>
						</li>
						<li class="announcement-list info">
						  <div class="detail-info">
							<a href="" class="header">
							  <i class="fa fa-bullhorn"></i>  American Express Acceptance Agreement Now Online  
							</a>
							<p class="message">
							 Effective with the October 2014 mandates, American Express has made changes to the Card Acceptance Agreement (CAA). You may now view your updated American Express Acceptance Agreement online in Business Center's Document Center. Access the Document Center, select Document Search and enter keywords, One Point.
For questions or more information, please contact Sterling's Merchant Services team at 800-383-0561 or via e-mail at <a href="mailto:">merchant.services@sterlingpayment.com</a>

							</p>
						  </div>
						</li>
						<li class="announcement-list success">
						  <div class="detail-info">
							<a href="" class="header">
							   <i class="fa fa-microphone"></i> There is Still Time to Enroll
							</a>
							<p class="message">
							  As your payment processor, Sterling Payment Technologies, LLC has partnered with MCAG, a class action settlement expert, to streamline the filing process and secure recoveries for our valued merchants from the "Visa&reg;/MasterCard&reg; Interchange Fee Class Action Settlement.&rdquo;
The lawsuit claims that merchants paid more fees than they should have for accepting Visa&reg; and MasterCard&reg; as payment from consumers during the period between January 1, 2004 and November 28, 2012.  If your business accepted Visa&reg; or MasterCard&reg; credit or debit payments in the U.S. during this period of time, you may be eligible to recover funds from this approved $5+ billion Settlement.
 <br/><br/>
There are no upfront or hidden fees.  If no money is recovered on your behalf, then no money is owed to MCAG for this service.  Act now, and enroll today in the MCAG Settlement Recovery Service.  For additional information, class members may visit http://www.paymentcardsettlement.com/, the Court-approved website for this case.

							</p>
						  </div>
						</li>
						<li class="announcement-list warning">
						  <div class="detail-info">
							<a href="" class="header">
							  <i class="fa fa-microphone"></i> May 2015 Statement Now Posted to the Business Center
							</a>
							<p class="message">
							 Your May 2015 Statement is now available  under the Statements tab. We appreciate your business!
							</p>
						  </div>
						</li>
						<li class="announcement-list info">
						  <div class="detail-info">
							<a href="" class="header">
							  <i class="fa fa-bullhorn"></i>  American Express Acceptance Agreement Now Online  
							</a>
							<p class="message">
							 Effective with the October 2014 mandates, American Express has made changes to the Card Acceptance Agreement (CAA). You may now view your updated American Express Acceptance Agreement online in Business Center's Document Center. Access the Document Center, select Document Search and enter keywords, One Point.
For questions or more information, please contact Sterling's Merchant Services team at 800-383-0561 or via e-mail at <a href="mailto:">merchant.services@sterlingpayment.com</a>

							</p>
						  </div>
						</li>
						<li class="announcement-list success">
						  <div class="detail-info">
							<a href="" class="header">
							   <i class="fa fa-microphone"></i> There is Still Time to Enroll
							</a>
							<p class="message">
							  As your payment processor, Sterling Payment Technologies, LLC has partnered with MCAG, a class action settlement expert, to streamline the filing process and secure recoveries for our valued merchants from the "Visa&reg;/MasterCard&reg; Interchange Fee Class Action Settlement.&rdquo;
The lawsuit claims that merchants paid more fees than they should have for accepting Visa&reg; and MasterCard&reg; as payment from consumers during the period between January 1, 2004 and November 28, 2012.  If your business accepted Visa&reg; or MasterCard&reg; credit or debit payments in the U.S. during this period of time, you may be eligible to recover funds from this approved $5+ billion Settlement.
 <br/><br/>
There are no upfront or hidden fees.  If no money is recovered on your behalf, then no money is owed to MCAG for this service.  Act now, and enroll today in the MCAG Settlement Recovery Service.  For additional information, class members may visit http://www.paymentcardsettlement.com/, the Court-approved website for this case.

							</p>
						  </div>
						</li>
				   
					  </ul>
					</div>
         
             <!--- END: ANNOUNCEMENTS --->
            
            
				
					</div>
					
					
			  </div>
			  <!-- Row End -->
          

	</div> 
</div>
<!-- Dashboard Wrapper End -->


