 <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href="" class="heading">Dashboard</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="index2.html" class="">Dashboard V1</a>
            </li>
            <li class="hidden-sm hidden-xs">
              <a href="index.html" class="selected">Dashboard V2</a>
            </li>
          </ul>
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search here ...">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <!-- Sub Nav End -->