<div id='cssmenu' >
  <ul>
	<li ng-class="activeTab == tab ? 'active' : 'not-active'" ng-repeat="tab in tabs" ng-click="setTab(tab)">
	  <a href=''>
		<i class="fa {{tab.icon}}"></i>
		{{tab.display}}
	  </a>
	</li>

	<li class=''>
	  <a href='#'><i class="fa fa-bar-chart-o"></i>Graphs</a>
	  <ul>
		 <li><a href='flot.html'>Flot Graphs</a></li>
		 <li><a href='graphs.html'>Google Graph</a></li>
		 <li><a href='vector-maps.html'>Vector Maps</a></li>
	  </ul>
	</li>
	
	
  </ul>
</div>
<!-- Top Nav End -->