
<div ng-app="ng-app">
  <h2>Todo</h2>
  <div ng-controller="TodoCtrl"><span>{{remaining()}} of {{todos.length}} remaining</span> [<a href="" ng-click="archive()">archive</a>]
    <ul class="unstyled">
      <li ng-repeat="todo in todos">
        <label class="checkbox inline">
          <input type="checkbox" ng-model="todo.done"/><span class="done{{todo.done}}">{{todo.text}}</span>
        </label>
      </li>
    </ul>
    
    
    <form ng-submit="addTodo()" class="form-inline">
      <p>
        <input type="text" ng-model="todoText" size="30" placeholder="add new todo here"/>
        <input type="submit" value="add" class="btn btn-primary"/>
      </p>
    </form>
  </div>

<div class="row marketing">
  <datepicker ng-model="start" show-weeks="false"></datepicker> {{start | date}}
</div>



<div class="row marketing">
  <tabset>
  	<tab heading="A">
  		Hello A!
  	</tab>
  	<tab heading="B">
  		Hello B!
  	</tab>
  	<tab heading="C">
  		Hello C!
  	</tab>
  	<tab heading="D">
  		Hello D!
  	</tab>
  </tabset> 
</div>


<div ng-controller="MainCtrl">

	<div class="row marketing" >
	  <div class="btn-group">
			<button type="button" class="btn btn-primary" ng-model="val" btn-radio="'A'">A</button>
			<button type="button" class="btn btn-primary" ng-model="val" btn-radio="'B'">B</button>
			<button type="button" class="btn btn-primary" ng-model="val" btn-radio="'C'">C</button>
	  </div>
	</div>

	<div class="row marketing">
	  <input type="text" ng-model="selected" typeahead="state for state in states" class="form-control">
	</div>

	<div class="row marketing">
		<carousel>
			<slide ng-repeat="slide in slides">
				<img ng-src="img/{{slide}}" style="margin: auto;">
			</slide>
		</carousel>
	</div>
	
</div>



</div>