 <table class="table table-condensed table-striped table-bordered table-hover no-margin">
			<tbody>
			  <tr>
				<td> <input type="checkbox" class="no-margin toggle-vis" data-column="1"  checked id="showhide_dbaname"/> </td>
				<td> <label for="showhide_dbaname" class="name"> DBA Name </label> </td>
			  </tr>
			  <tr>
				<td> <input type="checkbox" class="no-margin toggle-vis" data-column="2" checked id="showhide_state" /> </td>
				<td> <label for="showhide_state" class="name"> State </label> </td>
			  </tr>
			  <tr>
				<td> <input type="checkbox" class="no-margin toggle-vis" data-column="3"  checked id="showhide_terminal"/> </td>
				<td> <label for="showhide_terminal" class="name"> Terminal </label> </td>
			  </tr>
			  <tr>
				<td> <input type="checkbox" class="no-margin toggle-vis" data-column="4" checked id="showhide_authdate"/> </td>
				<td> <label for="showhide_authdate" class="name"> Auth Date </label> </td>
			  </tr>
			  <tr>
				<td> <input type="checkbox" class="no-margin toggle-vis" data-column="5" checked id="showhide_cardtype"/> </td>
				<td> <label for="showhide_cardtype" class="name">  Card Type </label> </td>
			  </tr>
			   <tr>
					<td> <input type="checkbox" class="no-margin toggle-vis" data-column="6" checked id="showhide_cardno"/> </td>
					<td> <label for="showhide_cardno" class="name"> Card Number </label> </td>
			  </tr>
			  <tr>
				<td> <input type="checkbox" class="no-margin toggle-vis" data-column="7" checked id="showhide_transtype"/> </td>
				<td> <label for="showhide_transtype" class="name"> Trans Type </label> </td>
			  </tr>
			   <tr>
				<td> <input type="checkbox" class="no-margin toggle-vis" data-column="8" checked id="showhide_method"/> </td>
				<td> <label for="showhide_method" class="name"> Method </label> </td>
			  </tr>
			  <tr>
				<td> <input type="checkbox" class="no-margin toggle-vis" data-column="9" checked id="showhide_response"/> </td>
				<td> <label for="showhide_response" class="name">  Response </label> </td>
			  </tr>
			</tbody>
		  </table>