<ol class="nya-bs-select" ng-model="myModel" style="width:100%" data-live-search="true" multiple data-size="10">
    <li data-value="7973770" class="nya-bs-option">
        <a>
           <span class='hq'><i class='fa fa-cubes'></i> HQ name</span> <small class='muted text-muted'>7973770</small>
           <span class="glyphicon glyphicon-ok check-mark"></span>
        </a>
    </li>
    <li data-value="9021303" class="nya-bs-option">
        <a>
           <span style='padding-left:15px;'><i class='fa fa-building'></i> Corporation name</span> <small class='muted text-muted'>9021303</small>
           <span class="glyphicon glyphicon-ok check-mark"></span>
        </a>
    </li>
    <li data-value="77488788772" class="nya-bs-option">
        <a>
           <span style='padding-left:30px;'><i class='fa fa-flag'></i> Merchant name 2</span> <small class='muted text-muted'>77488788772</small>
           <span class="glyphicon glyphicon-ok check-mark"></span>
        </a>
    </li>
    <li data-value="77488788773" class="nya-bs-option">
        <a>
           <span style='padding-left:30px;'><i class='fa fa-flag'></i> Merchant name 3</span> <small class='muted text-muted'>77488788773</small>
           <span class="glyphicon glyphicon-ok check-mark"></span>
        </a>
    </li>
    <li data-value="77488788774" class="nya-bs-option">
        <a>
           <span style='padding-left:30px;'><i class='fa fa-flag'></i> Merchant name 4</span> <small class='muted text-muted'>77488788774</small>
           <span class="glyphicon glyphicon-ok check-mark"></span>
        </a>
    </li>
    <li data-value="77488788775" class="nya-bs-option">
        <a>
          <span style='padding-left:30px;'><i class='fa fa-flag'></i> Merchant name 5</span> <small class='muted text-muted'>77488788775</small>
          <span class="glyphicon glyphicon-ok check-mark"></span>
        </a>
    </li>
    <li data-value="77488788776" class="nya-bs-option">
        <a>
        	<span style='padding-left:30px;'><i class='fa fa-flag'></i> Merchant name 6</span> <small class='muted text-muted'>77488788776</small>
        	<span class="glyphicon glyphicon-ok check-mark"></span>
        </a>
    </li>
</ol>
